:root {
    --background:     #0f0e17;
    --headline:       #fffffe;
    --paragraph:      #a7a9be;
    --cardBackground: #fffffe;
    --cradHeadline:   #0f0e17;
    --cardParagraph:  #2e2f3e;
    --cardtagback:    #ff8906;
    --cardtagtext:    #fffffe;
    --cardhighlit:    #e53170;
    --button:         #ff8906; 
    --buttonText:     #fffffe;
    --border:         #0f0e17;
    --backgroundHover: radial-gradient(circle,#f25f4c , #ff8906, #e53170);
 }
@media screen and (prefer-color-scheme: light) {
    :root {
        --background:     #fffffe;
        --headline:       #0f0e17;
        --paragraph:      #2e2f3e;
        --cardBackground: #0f0e17;
        --cradHeadline:   #fffffe;
        --cardParagraph:  #a7a9be;
        --cardtagback:    #ff8906;
        --cardtagtext:    #fffffe;
        --cardhighlit:    #e53170;
        --button:         #ff8906; 
        --buttonText:     #fffffe;
        --backgroundHover: radial-gradient(circle,#f25f4c , #ff8906, #e53170);
    }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden; */
  }
  
  .video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
  }
  
  video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
main {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 30px 30px 10px 30px;
}
.firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
.ProfilePicture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 150px;
}

h1 {
    color: var(--headline);
    font-size: 50px;
    margin-bottom: 25px;
    font-style: italic;
}
p{
    color: var(--paragraph);
    font-size: 30px;
    margin: 0;
}
.icon-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.tooltipIcon {
    position: relative;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.resumeIcon {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 18px;
    padding: 8px;
    cursor: pointer;
    margin-left: 20px;
    background: var(--button);
    border: 1px solid var(--border);
}

.resume {
    background: var(--button);
    color: var(--buttonText);
    position: absolute;
    bottom: -50px;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 800;
    font-style: oblique;
    border-radius: 10px;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
}

.resume::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 31px;
    height: 0;
    width: 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid var(--button);
}


.resumeIcon:hover {
    box-shadow: 0 0 30px var(--button);
    background: var(--backgroundHover);
}

.tooltipIcon:hover .resume{
    opacity: 1;
}

