.video-background {
    position: relative;
    width: 100%;
}
  
.firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfilePicture {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 50px;
    border-radius: 150px;
    box-shadow: 0 0 80px var(--button);
}

.icon-dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.tooltipIcon {
    position: relative;
    display: flex;
    flex-direction: center;
    align-items: center;
}

.resumeIcon {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 18px;
    padding: 8px;
    cursor: pointer;
    margin-left: 20px;
    border: 1px dashed var(--border);
}

.resume {
    background: var(--button);
    color: var(--buttonText);
    position: absolute;
    bottom: -50px;
    padding: 5px 20px;
    font-size: 20px;
    /* font-weight: 500; */
    border-radius: 10px;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
}

.resume::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 31px;
    height: 0;
    width: 0;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-bottom: 11px solid var(--button);
}

.before::before {
    left: 40px;
}

.resumeIcon:hover {
    box-shadow: 0 0 30px var(--button);
}

.tooltipIcon:hover .resume{
    opacity: 1;
}

.scroolBarIcon {
    position: relative;
    width: 40px;
    height: 120px;
    border: 1px solid var(--paragraph);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--paragraph);
    font-size: 80px;
    font-weight: 900;
}

.dotScrool {
    position: absolute;
    top: -30px;
    margin: 0;
    padding: 0;
}

.about {
    padding: 0 30px;
    /* background: var(--background); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    color: var(--headline);
    font-family: "Miltonian", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1px;
    place-content: center;
    place-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

}

.textOrParagraph {
    color: var(--paragraph);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.amazingTeacher {
    text-decoration: none;
    cursor: pointer;
    color: var(--highlights);

}

.textOrParagraph p {
    font-family: "Special Elite", serif;
    font-weight: 500;
    font-style: oblique;
    font-size: 20px;
    line-height: 32px;
}

