.exanded {
    padding: 10px 0;
    color: white;
    /* background: #111827; */
    display: flex;
    justify-content: center;
    flex-direction: column;    
    height: max-content;     
}

.exanded h2 {
    text-align: center;
    font-family: "Miltonian", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.secondcontainer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    place-items: center; 
    column-gap: 10px; 
}

.work-ex-section {
    width: 600px; 
    align-self: flex-start;
    padding: 10px;
}
.WorkEx, .education {
    column-gap: 10px; 
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 30px;
}
.educationIcon {
    color: blue;
    font-size: 25px;
}

div.infoBox {
    padding-left: 25px; 
    padding-bottom: 1px;
    margin-bottom: 2rem;
    position: relative; 
    left: -10px; 
    border-left: 3px solid rgb(79 70 229 / 0.2);

        & .circle {
            width: 20px; 
            height: 20px; 
            background: #4F46E5; 
            border-radius: 10px;
            position: absolute; 
            left: -12px; 
        }
        & .workPosition {
            margin: 0; 
            font-size: 18px; 
            font-weight: 700;
            color: #F9FAFB;
        }
        & .workTitle {
            color: #4F46E5; 
            line-height: 35px;
            margin: 3px; 
            font-size: 20px; 
            font-weight: 500;
        }
        & .aboutWork {
            font-size: 18px; 
            color: #4B4563; 
            & a{
                color: rgb(23, 23, 218);
                text-decoration: none;
                font-weight: 600;
            }
        }
}

/*NEW THINGS TO ADD!*/

