:root {
    --background:     #0f0e17;
    --headline:       #fffffe;
    --paragraph:      #a7a9be;
    --cardBackground: #fffffe;
    --cradHeadline:   #0f0e17;
    --cardParagraph:  #2e2f3e;
    --cardtagback:    #ff8906;
    --cardtagtext:    #fffffe;
    --cardhighlit:    #e53170;
    --button:         #ff8906; 
    --buttonText:     #fffffe;
    --border:         #0f0e17;
    --highlights:     #ff8906;
    --backgroundHover: radial-gradient(circle,#f25f4c , #ff8906, #e53170);
}

@media screen and (prefer-color-scheme: light) {
    :root {
        --background:     #fffffe;
        --headline:       #0f0e17;
        --paragraph:      #2e2f3e;
        --cardBackground: #0f0e17;
        --cradHeadline:   #fffffe;
        --cardParagraph:  #a7a9be;
        --cardtagback:    #ff8906;
        --cardtagtext:    #fffffe;
        --cardhighlit:    #e53170;
        --button:         #ff8906; 
        --buttonText:     #fffffe;
        --border:         #fffffe;
        --highlights:     #ff8906;
        --backgroundHover: radial-gradient(circle,#f25f4c , #ff8906, #e53170);
    }
}

body, html {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
video.background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
  
main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 30px 10px 0;
    
}

h1 {
    color: var(--headline);
    font-size: 50px;
    margin-bottom: 10px;
    font-style: italic;
    font-family: "Paprika", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: var(--headline);
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;
}

